@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #050505;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Oswald", sans-serif;
    
}

.logo {
    position: relative;
    height: 80px;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
}

.navbar a {
    font-size: 18px; 
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: pink;
}

.home {
    height: 100vh;
    background: url('pic/portfolio.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 5rem;
}

.home-content {
    max-width: 900px; 
}

.home-content h1 {
    font-family: 'Abril Fatface', serif;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.home-content h6 {
    font-family: "Oswald", sans-serif;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: pink;
}

.home-content h6::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-family: "Merriweather", serif;
    font-size: 20px;
    position: relative;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    gap: 2rem;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: pink;
    border: 2px solid pink;
    border-radius: 7px;
    font-size: 20px;
    color: #050505;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px ;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: pink;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: pink;
}

.btn-box a:nth-child(2):hover {
    color: #050505;
}

.btn-box a:nth-child(2)::before {
    background: pink;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #050505;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-imghover {
    position: absolute;
    top: 10;
    right: 10px;
    width: 800px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imghover:hover {
    background: #050505;
    opacity: .8;
}

.home-imghover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    animation: showRight 1s ease forwards;
    animation-delay: 2.6s;
}

.about {
    flex-wrap: wrap;
    padding: 20px;
    background: #050505;
    background-size: cover;
    justify-content: center;
    padding-top: 7rem;
}

.about h1 {
    font-family: "Merriweather", serif;
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 60px;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 7rem;
    flex-wrap: wrap;
    min-height: 100%;
}

.about-content div {
    display: flex;
    background: -webkit-linear-gradient(90deg,
        rgba(231, 84, 128, 1) 0%,
        rgba(254, 142, 172, 1) 35%,
        rgba(255, 209, 220, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: #050505;
    width: 100%;
    margin: 10px;
}

.about .about-content .education {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.about  h2 {
    margin: 1rem;
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
}

.about .education h3{
    margin: 1rem;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

.about .about-content .work {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.about .work h3 {
    margin: 3rem;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.about p1 {
    font-family: "Merriweather", serif;
    font-size: 20px;
}

.skills {
    display: flex;
    padding-top: 7rem;
    background-color:#050505;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.skills h1 {
    font-family: "Merriweather", serif;
    font-size: 60px;
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    padding-top:1rem;
    padding-left: 10rem;
    flex-direction: row;
    margin: 1px .5px;
    
}

.skills .logo {
    display: flex;
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.skills .logo:hover {
    transform: translate(10px, 10px);
    transition: ease-in-out 300ms;

}

.projects {
    padding-top: 7rem;
    background-color: #050505;
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.projects h1 {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 60px;
}

.projects .projects-content {
    display: flex;
    background-color: pink;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    margin: 20px;
}

.projects .projects-list1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 10px;;
    background-color: #050505;
    row-gap: 30px;
    height:40vh;
    flex-direction: column;
}

.projects h2 {
    text-align: center;
    align-self: start;
    padding-bottom: 20px;
    border-bottom: 2px solid pink;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #050505;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
}
.contact h1 {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 1rem;
    font-family: "Merriweather", serif;
    font-size: 60px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6rem;
    width: 50rem;
    height: 30rem;
    border-radius: 5px;
    background-image: url(pic/imagebg.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.action {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    flex-direction: column;
    margin: 8px 0;
    color: #050505;
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10px;
    padding: 12px 20px;
    gap:10px;
}

input[type=text1] {
    flex-direction: column;
    margin: 10px 0;
    color: #050505;
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    height: 5rem;
    padding: 12px 20px;
    gap: 10px;
}

input[type=submit] {
        width: 100%;
        background-color: pink;
        color: #050505;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

input[type=submit]:hover {
        background-color: palevioletred;
}



.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding-left: 5rem;
    padding-right: 2rem;
    background-color: #050505;
}   

.contact-info .contact-sci {
    display: flex;
    bottom: 40px;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-info .contact-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 20px;
    color: pink;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    border-style: double;
    transition: .5s;
}

.contact-info .contact-sci a:hover {
    color: #050505;
}

.contact-info .contact-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: pink;
    z-index: -1;
    transition: .5s;
}

.contact-info .contact-sci a:hover::before {
    width: 100%;
}

.contact-add {
    color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


@keyframes showRight {
    100%{
        width: 0;
    }
}
@keyframes manipActivaHover {
    100%{
        pointer-events: auto;
    }
}